doctype html
html
head
title GE - Aviation
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src="/javascripts/jquery.js")
script(src="/javascripts/bootstrap.min.js")

body(class=container)
<div class="hdr">
  <img src="/logo/GElogo.jpg" alt="logo" />
  header Schedule Analysis
</div>

block content
